<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doe Vida! Doe Sangue!</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Saira+Semi+Condensed&display=swap" rel="stylesheet">
</head>
<body>
    <section class="mainsection">
        <header>
            {% include html.header %}
        </header>
            {% include html.section %}
        <main>
            {% include html.main %}
        </main>
        <footer><class="ft">Com ❤️ Rocketseat & Ricardo Gurgel @ricagurgel</class>
        </footer>
    </section>
<script src="script.js"></script>
</body>

</html>
