
        /* ->
            GLOBAL
        <- */

        * {
            box-sizing: border-box;
            
        }
        body {
            background-color: rgb(207, 212, 212);
            display: flex;
            flex-direction: column;
            font-family: 'Roboto', sans-serif;
        }

        /* TITULOS */
       
        h1, h2 {
            color: #000000cc
        }
        main h2 span{
            color: #e71c37
        }
        header p, header h1 {
            line-height: 0.40em;
        }

        /* SEÇÕES */
        .mainsection {
            background-color: rgb(236, 236, 234);
            display: flex;
            flex-direction: column;
            border-radius: 4px;
            height: 98.0vh;
        }
        header,.form{
            width: 90%;
            max-width: 500px;
            margin: 0 auto 10px auto; /* ----> isso é legal */
            margin-bottom: 40px;
        }
        header,main,footer {
            text-align: center;
        }
        footer {
            margin-top: auto;
            padding: 3px 0px 0px 0px;
            height: 32px;
            margin-bottom: 0px;
            font-size: 14px;
            color: #000000dd;
            background-color: #ffffff;
        }

        /* CLASSES */

        .donor p {
            margin-top: 15 px;
            font-size: 15px;
        }
        .logo { 
            width: 250px;
        }
        
        main .donors {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr; /* ----> isso é legal */
            margin: 0px 70px 10px 70px;
        }

        .blood {
            color: firebrick;
            font-weight: bolder;
            font-size: 12px;
            display: flex;
            position: relative;
            justify-content: center;
            
        }

        .blood::before {
            content:"";
            background-color: #ff4f4f33;
            width: 40px;
            height: 40px;
            position: absolute;
            border-radius: 50%; 
            border-top-left-radius: 0%;
            transform: rotate(45deg)
        }

        header button {
            padding: 10px 22px;
            border-radius: 20px;
            background-color: rgb(223, 0, 56);
            color: cornsilk;
            font-weight: bolder;
            font-size: 14px;
        }
       
        /* FORMULÁRIOS */

        .form {
            display: grid;
            grid-template-columns: 1fr 1fr; /* ----> isso é legal */
            align-items: center;
            gap: 30px;
            background-color: #e71c37;
            padding: 18px 70px;
            border-radius: 40px;
            
        }

        .form h2 {
            text-align: right;
            font-size: 22px;
            padding-bottom: 20px;
            color: rgb(255, 235, 235, 90)
        }


        form input {
            width: 100%;
            margin-bottom: 6px;
            padding: 8px 16px;
            border-radius: 7px;
            border: 1px #ffffff99 dashed;

        }

        form button {
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;
            padding: 4px 0px;
            border-radius: 7px;
            font-size: 14px;
            font-weight: bolder;
            color: #f01010ff;
        }

        form input {
            background-color: transparent;
            text-decoration-color: white;
        }

        form input::placeholder {
            color: #ffffff
        }


        /* funcionalidades JavaScript */

        .form {
            transition: all 300ms;
        }

        .form.hide {
             opacity: 0;
             visibility: hidden;
             height: 0;
             margin-top: -80px;
         }

